@model RedeSocial.Models.Usuario

@{
    Layout = "_LayoutVazio";
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-auto text-dark">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="usuarioId" />

           
            <div class="d-flex row" style="color: black;">
                <div class="form-group">
                    <label asp-for="usuarioNome" class="control-label"></label>
                    <input asp-for="usuarioNome" class="form-control" required/>
                    <span asp-validation-for="usuarioNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="usuarioTelefone" class="control-label"></label>
                    <input asp-for="usuarioTelefone" type="number" class="form-control" />
                    <span asp-validation-for="usuarioTelefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="usuarioEmail" class="control-label"></label>
                    <input asp-for="usuarioEmail" type="email" class="form-control" required />
                    <span asp-validation-for="usuarioEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-4">
                <div class="form-group">
                    <input asp-controller="Posts" asp-action="Edit" type="submit" value="Salvar" class="btn btn-primary mt-2" />
                </div>
                <div>
                    @{
                        @inject IHttpContextAccessor httpContextAccessor

                        // Recuperar o cookie (por exemplo, em _Layout.cshtml)
                        var userIdCookie = httpContextAccessor.HttpContext.Request.Cookies["UserId"];

                        <a asp-controller="Usuario" asp-action="DetailsUser" asp-route-id="@userIdCookie" class="btn btn-info">
                            Voltar
                        </a>
                    }
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>